name: Release

on:
    push:
        tags:
            - "*.*.*"

jobs:
    test:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -e {0} # -e to fail on error

        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      python: "3.10"
        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python }}

        steps:
            - uses: actions/checkout@v3
            - name: Set up Python ${{ matrix.python }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python }}
                  cache: "pip"
                  cache-dependency-path: "**/pyproject.toml"

            - name: Install test dependencies
              run: |
                  python -m pip install --upgrade pip wheel
            - name: Install dependencies
              run: |
                  pip install ${{ matrix.pip-flags }} ".[dev,test]"
            - name: Test
              env:
                  MPLBACKEND: agg
                  PLATFORM: ${{ matrix.os }}
                  DISPLAY: :42
              run: |
                  pytest -v --color=yes
    package:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.10
              uses: actions/setup-python@v2
              with:
                  python-version: "3.10"
            - name: Install build dependencies
              run: python -m pip install --upgrade pip wheel twine build
            - name: Build package
              run: python -m build
            - name: Check package
              run: twine check --strict dist/*.whl

    release:
        name: Release
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python 3.10
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"

            - name: Install hatch
              run: pip install hatch

            - name: Install twine
              run: pip install twine

            - name: Build project for distribution
              run: hatch build

            - name: Publish a Python distribution to PyPI
              run: twine upload dist/* -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
